# Esports Project: G2 Esports vs Asian Teams 2020-2023

## Intro

Becoming a data analyst has been one of the most challenging moments of my life.  
Coming from a completely different field makes it hard but not impossible, so I'm commited to surpass that challenge with this new project, being an important mark on my future success.

With all that said, I would like to share with you a passion of mine.

I've been a long-time esports fan and for that long I was extremely curious with the amount of data and meta-data created by competitive matches.  
That curiosity led me online searching for matches' results and statistics and realize that one could extract, clean, process and analyze that data in order to find a vast amount of information about the teams, players and coaches.   
Knowing this, here it is some examples of what we could use this data for:   
* Checking a team's overall performance;
* Checking player's overall performance;
* Checking team's results throughout the years;
* Checking individual players' profiles and attributes.

This type of information, as in many other fields, can be used to drive important business decisions.  
My goal is to match my passion with some of my analytical skills in order to find out what is lacking to european teams that have been overwhelmed by asian competition in the performance department.  
This brings me to the next step: **Contextualizing my project.**

## League of Legends Esports - LEC (League of Legends European Championship)
<img src="lec.jpg" width="500" height="340" style="margin:auto"/>

### What is League of Legends?

*League of Legends* is a multiplayer online battle arena (MOBA) game in which the player controls a character ("champion") with a set of unique abilities.  
The game is played in a symmetrical map, divided by 3 lanes, where each half of the map belongs initially to each of the 2 teams competing.

The map is composed by each team's base (which has a big crystal called "Nexus" and 3 small ones called "inhibitors"), multiple towers that prevent enemies to approach the bases by dealing damage and troops called "minions" that continuously spawn and push opposing troops to their base in order to advance and conquer the map.  
The final objective requires players to join forces with team mates and minions to outperform their lane opponents getting more resources like gold, for example (that allow the player to buy stronger items to equip), to destroy enemy towers and keep advancing until they reach enemy nexus and destroy it, achieving victory.

Released in 2009, this real-time moving chess-like game requires not only great strategic thinking but high mechanical skills and prior knowledge of the game's vast fundamentals (such as champions' abilities and movesets, item actives and passive effects, synergies and many others) to achieve victory.  
Because it is a team-based game, individuals play with four other players on their team (total of 5 players per team).  
Due to its highly team-dependent nature, it requires players to have synergy with their team mates and decide every play based on their team's current in-game state.

The ingredients were all present to conceive a League of Legends Esports scene, which has happened with astonishing international success.  
League of Legends rapidly became one of the most watched esports in the world, bringing competition to the international stage with world events, thousands of people to arenas/stadiums and millions to live-streaming platforms to watch the games.

### League of Legends European Championship and the best european team: G2 Esports
<img src="g2.png" width="500" height="340" style="margin:auto"/>

With the interest on League of Legends Esport on the rise, brands started to jump into the scene creating teams and celebrating contracts with talented players who shortly after became professional league of legends players.    
One brand that everyone can relate to was "*Samsung*", that had their teams "Samsung White", "Samsung Blue" and "Samsung Galaxy" competing in the Korean Championship in the past.

The increasing amount of teams and players, created the necessity of splitting the competition between regions (usually by continents).  
This led to the creation of *League of Legends European Championship* and since then many teams like *Fnatic*, *G2 Esports*, *MAD Lions*, *Rogue* and many others compete with each other with ambitions of qualify to the most important international tournament "League of Legends World Championship" that reunites teams from all over the world to compete with each other for the highest prize and covited trophy in League of Legends Esports' scene.

**G2 Esports** is the undisputed best european team with **13 LEC champion titles** and **1 mid-season invitational title** (a mini world championship usually played midseason) but never won the most important trophy: The World Championship.  
LEC is being dominated by G2 Esports for some years but the team seem to fall short in international competition at the hands of asian teams (China and Korea) that seem to constantly outperform their european counterparts.

## Context: G2 Esports Performance Check Project 
<img src="worlds.png" width="500" height="340" style="margin:auto"/>

*International League of Legends* competition has been dominated over the years by asian teams with the exception of 2018 and 2019, when Fnatic (in 2018) and G2 Esports (in 2019) were able to knock down multiple asian teams in their path to the World Finals in respective years.  
In 2019, G2 Esports were considered the strongest team Europe had ever produced.  
They won the *Mid-Season Invitational*, knocking down the strongest asian team in the tournament (*T1 Esports*) in the semifinals and doing it again months later in Worlds 2019 only losing to the chinese team *Funplus Phoenix* in the finals.

The future seemed bright for European Esports as the tide seemed to have changed, leaning towards a rise in european teams' and players' performance but sadly that was not the case.  
After the success of the year 2019, G2 Esports **dropped their perfomance drastically**, eventually not qualifying for MSI 2021 or Worlds 2021 and keeping the poor performance against asian teams throughout 2022 and 2023.  
The team changed its players more than once and lost some domestic titles but crawled back to a winning position in 2023 but could not manage to surprise us internationally.  

<img src="g2fans.jpg" width="500" height="340" style="margin:auto"/>

Following the team's success in 2019, G2 (and european) fans have been long waiting for the team to rise again and to challenge asian domination once more, for the opportunity to claim glory for Europe.

As a fan myself, I've been interested in how players have been performing against asian teams.  
Important data that reveals the quality of the performance is win rate, KDA, KP, total gold earned and others.  
This led me to collect data on every G2 match against every asian team in MSI and World competitions from a **third-party provider "GamesofLegends" to which I give my credits to and disclaim that every data used here belongs exclusively to this provider.**

**Objective**: Through exploratory data analysis (EDA) find valuable information, patterns and tendencies of players' performances to eventually come up with the better roster, better strategies or even guide the organization to a different approach.  
Using **PACE workflow**, I previously planned the project accordingly and will analyze the data along this notebook so I can construct a model and execute it, creating visualizations to share findings.

### Variables explanation guide  
**Player**: In-game name which is unique to a player;  
**Opponent**: Unique asian team that G2 faced;  
**Role**: Position the player takes on the map;  
**Side**: In which side of the map G2 played (Blue - Left; Red - Right);  
**Champion**: Character the player chose to play in that game;  
**Kills, Deaths, Assists**: Part of player scoreboard;  
**KDA**: (Sum of kills)+(Sum of assists)/Total number of Deaths;  
**CS**: Creep Score, number of minions slain;  
**CSM**: Number of minions slains per minute;  
**Total_Gold**: Total gold generated by the player by the end of the match;  
**Vision_Score**: Total score generated by vision sentinels placed on the map by the player;  
**Total_Damage**: Total damage to enemy champions;  
**KP**: Kill participation (participation percentage in team's takedowns);  
**GD@15**: Gold difference compared to the opponent at 15 minute mark;  
**CSD@D**: Creep score difference compared to the opponent at 15 minute mark;  
**Towers**: Number of towers destroyed as a team in the game;  
**Dragons**: Number o dragons slain as a team in the game;  
**Barons**: Number of Barons slain as a team in the game;  
**Total_Gold_Difference**: Difference in total gold between teams by the end of the game.

## Project Start

In [2]:
#Importing packages to perform EDA
import pandas as pd
import numpy as np
#Importing packages to create visualizations
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
#Locate the folder where xlsx file is
import os
os.getcwd()

'C:\\Users\\pedro\\Documents\\python_ws'

In [3]:
#Loading the G2 vs Asian Teams (International Tournaments from 2020-2023) dataset to "data" dataframe
data = pd.read_excel('g2vsAsianTeams_international_2020-2023.xlsx')

In [22]:
#Getting a glimpse of the dataframe
data.head(10)

,Player,Tournament,Game_Id,Date,Stage,Opponent,Side,Game_Time,Result,Role,...,Total_Damage,KP,GD@15,CSD@15,Towers,Dragons,Barons,Team_Total_Gold (K),Enemy_Total_Gold (K),Total_Gold_Difference (K)
0,Wunder,Worlds 2020,1,2020-10-04,Groups,Suning,Blue,00:42:50,Win,Top,...,25282,0.632,783,8,7,2,1,75.7,73.0,2.7
1,Wunder,Worlds 2020,2,2020-10-08,Groups,Suning,Red,00:23:08,Loss,Top,...,5584,0.500,-898,5,2,1,0,38.8,45.5,-6.7
2,Wunder,Worlds 2020,3,2020-10-08,Groups,Suning,Red,00:44:07,Loss,Top,...,15768,0.476,-431,-9,3,4,0,79.2,90.3,-11.1
3,Wunder,Worlds 2020,4,2020-10-18,Quarter Finals,Gen-G,Red,00:30:04,Win,Top,...,11771,0.579,87,-6,9,2,1,61.6,49.6,12.0
4,Wunder,Worlds 2020,5,2020-10-18,Quarter Finals,Gen-G,Red,00:29:03,Win,Top,...,9088,0.607,-516,-10,9,3,1,61.0,48.9,12.1
5,Wunder,Worlds 2020,6,2020-10-18,Quarter Finals,Gen-G,Blue,00:32:15,Win,Top,...,12818,0.565,147,27,7,4,0,59.5,55.2,4.3
6,Wunder,Worlds 2020,7,2020-10-24,Semi Finals,DWG,Blue,00:28:32,Loss,Top,...,4521,0.333,-446,11,2,0,0,46.1,59.8,-13.7
7,Wunder,Worlds 2020,8,2020-10-24,Semi Finals,DWG,Red,00:33:31,Win,Top,...,14027,0.440,-432,-15,11,4,1,66.6,55.7,10.9
8,Wunder,Worlds 2020,9,2020-10-24,Semi Finals,DWG,Blue,00:31:50,Loss,Top,...,7149,0.400,-411,-6,2,0,0,51.1,59.0,-7.9
9,Wunder,Worlds 2020,10,2020-10-24,Semi Finals,DWG,Red,00:19:03,Loss,Top,...,4906,0.500,-1345,-19,1,0,0,28.6,40.1,-11.5

In [28]:
#Finding data shape
data.shape
print('Total number of rows and columns:', data.shape)

Total number of rows and columns: (180, 29)

In [29]:
#Finding data size
data.size
print('Total number of elements:', data.size)

Total number of elements: 5220

In [30]:
##Finding the data types in the data set
data.dtypes

Player                               object
Tournament                           object
Game_Id                               int64
Date                         datetime64[ns]
Stage                                object
Opponent                             object
Side                                 object
Game_Time                            object
Result                               object
Role                                 object
Champion                             object
Kills                                 int64
Deaths                                int64
Assists                               int64
KDA                                 float64
CS                                    int64
CSM                                 float64
Total_Gold                            int64
Vision_Score                          int64
Total_Damage                          int64
KP                                  float64
GD@15                                 int64
CSD@15                                int64
Towers                                int64
Dragons                               int64
Barons                                int64
Team_Total_Gold (K)                 float64
Enemy_Total_Gold (K)                float64
Total_Gold_Difference (K)           float64
dtype: object

In [24]:
##Finding the basic dataset information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Player                     180 non-null    object
 1   Tournament                 180 non-null    object
 2   Game_Id                    180 non-null    int64
 3   Date                       180 non-null    datetime64[ns]
 4   Stage                      180 non-null    object
 5   Opponent                   180 non-null    object
 6   Side                       180 non-null    object
 7   Game_Time                  180 non-null    object
 8   Result                     180 non-null    object
 9   Role                       180 non-null    object
 10  Champion                   180 non-null    object
 11  Kills                      180 non-null    int64
 12  Deaths                     180 non-null    int64
 13  Assists                    180 non-null    int64
 14  KDA                        180 non-null    float64
 15  CS                         180 non-null    int64
 16  CSM                        180 non-null    float64
 17  Total_Gold                 180 non-null    int64
 18  Vision_Score               180 non-null    int64
 19  Total_Damage               180 non-null    int64
 20  KP                         180 non-null    float64
 21  GD@15                      180 non-null    int64
 22  CSD@15                     180 non-null    int64
 23  Towers                     180 non-null    int64
 24  Dragons                    180 non-null    int64
 25  Barons                     180 non-null    int64
 26  Team_Total_Gold (K)        180 non-null    float64
 27  Enemy_Total_Gold (K)       180 non-null    float64
 28  Total_Gold_Difference (K)  180 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(13), object(9)
memory usage: 40.9+ KB

In [34]:
#Finding some statistic information about the data
data.describe().round(decimals=1)

,Game_Id,Date,Kills,Deaths,Assists,KDA,CS,CSM,Total_Gold,Vision_Score,Total_Damage,KP,GD@15,CSD@15,Towers,Dragons,Barons,Team_Total_Gold (K),Enemy_Total_Gold (K),Total_Gold_Difference (K)
count,180.0,180,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0
mean,18.5,2022-06-25 16:00:00,2.5,3.4,5.8,3.6,196.3,6.3,10981.5,49.1,12878.0,0.6,-378.1,-3.6,4.1,1.7,0.5,54.9,59.9,-5.0
min,1.0,2020-10-04 00:00:00,0.0,0.0,0.0,0.0,3.0,0.1,3899.0,12.0,453.0,0.0,-5208.0,-61.0,0.0,0.0,0.0,28.6,40.1,-18.0
25%,9.8,2020-10-24 00:00:00,1.0,2.0,2.0,1.0,135.2,4.6,8266.0,25.0,6648.5,0.5,-825.8,-14.2,1.8,0.0,0.0,45.4,51.8,-12.2
50%,18.5,2022-10-08 12:00:00,2.0,3.0,5.0,2.0,210.5,7.2,10419.0,37.0,10540.0,0.6,-263.0,-3.0,2.0,2.0,0.0,53.1,59.4,-8.4
75%,27.2,2023-05-16 00:00:00,3.0,5.0,9.0,4.6,271.0,8.4,13683.5,57.2,17413.0,0.8,244.5,8.0,7.2,2.2,1.0,64.4,67.7,3.1
max,36.0,2023-10-29 00:00:00,11.0,9.0,23.0,22.0,441.0,10.5,21605.0,227.0,47169.0,1.0,1626.0,44.0,11.0,6.0,3.0,84.0,90.3,12.5
std,10.4,NaN,2.4,1.6,4.5,4.2,102.2,2.9,3749.3,37.0,8587.7,0.2,948.3,16.9,3.6,1.5,0.7,14.7,10.6,9.3

In [6]:
#Checking if there is any null values
data.isna()

,Player,Tournament,Game_Id,Date,Stage,Opponent,Side,Game_Time,Result,Role,...,Total_Damage,KP,GD@15,CSD@15,Towers,Dragons,Barons,Team_Total_Gold (K),Enemy_Total_Gold (K),Total_Gold_Difference (K)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
176,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
177,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
178,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
179,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

Player                       0
Tournament                   0
Game_Id                      0
Date                         0
Stage                        0
Opponent                     0
Side                         0
Game_Time                    0
Result                       0
Role                         0
Champion                     0
Kills                        0
Deaths                       0
Assists                      0
KDA                          0
CS                           0
CSM                          0
Total_Gold                   0
Vision_Score                 0
Total_Damage                 0
KP                           0
GD@15                        0
CSD@15                       0
Towers                       0
Dragons                      0
Barons                       0
Team_Total_Gold (K)          0
Enemy_Total_Gold (K)         0
Total_Gold_Difference (K)    0
dtype: int64

In [9]:
#Checking if there are any duplicates
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
175    False
176    False
177    False
178    False
179    False
Length: 180, dtype: bool

In [10]:
data.duplicated().sum()

0

**With the first basic steps of EDA completed, I'm going to dive on the Results (Win/Losses)**

In [11]:
#Getting another glimpse of the dataset
data.head()

,Player,Tournament,Game_Id,Date,Stage,Opponent,Side,Game_Time,Result,Role,...,Total_Damage,KP,GD@15,CSD@15,Towers,Dragons,Barons,Team_Total_Gold (K),Enemy_Total_Gold (K),Total_Gold_Difference (K)
0,Wunder,Worlds 2020,1,2020-10-04,Groups,Suning,Blue,00:42:50,Win,Top,...,25282,0.632,783,8,7,2,1,75.7,73.0,2.7
1,Wunder,Worlds 2020,2,2020-10-08,Groups,Suning,Red,00:23:08,Loss,Top,...,5584,0.500,-898,5,2,1,0,38.8,45.5,-6.7
2,Wunder,Worlds 2020,3,2020-10-08,Groups,Suning,Red,00:44:07,Loss,Top,...,15768,0.476,-431,-9,3,4,0,79.2,90.3,-11.1
3,Wunder,Worlds 2020,4,2020-10-18,Quarter Finals,Gen-G,Red,00:30:04,Win,Top,...,11771,0.579,87,-6,9,2,1,61.6,49.6,12.0
4,Wunder,Worlds 2020,5,2020-10-18,Quarter Finals,Gen-G,Red,00:29:03,Win,Top,...,9088,0.607,-516,-10,9,3,1,61.0,48.9,12.1

In [49]:
#Checking G2's wins and losses

total_wins = data['Result'].value_counts()['Win']
print(f"The number of wins is: {total_wins}")

total_losses = data['Result'].value_counts()['Loss']
print(f"The number of losses is: {total_losses}")

total_games = data['Result'].value_counts().sum()
print(f"The number of total games played: {total_games}")

#Checking the total winrate, rounding to 2 decimal places and converting into percentage
total_winrate = total_wins/total_games
total_winrate = total_winrate.round(decimals=2)
total_winrate = '{:.1%}'.format(total_winrate)

print(f"The winrate: {total_winrate}")

The number of wins is: 60
The number of losses is: 115
The number of total games played: 180
The winrate: 33.0%

In [89]:
#Checking G2's wins and losses by opponents
data[['Opponent','Result']].groupby(['Opponent']).value_counts().to_frame()

                 count
Opponent Result
BLG      Loss       25
         Win        10
DWG      Loss       20
         Loss        5
         Win         5
DWG      Win         5
Gen-G    Loss       25
         Win        20
JDG      Loss       10
RNG      Loss        5
         Win         5
Suning   Loss       10
         Win         5
T1       Loss       20
         Win         5
WBG      Win         5

**Checking player data**

In [93]:
##Checking how many games each player has played
data['Player'].value_counts().to_frame()

             count
Player
Caps            36
Brokenblade     26
Mikyx           25
Jankos          21
Yike            15
Hans Sama       15
Flakked         11
Targamas        11
Wunder          10
Perkz           10

In [104]:
#Checking how many wins and losses each player has
data[['Player','Result']].groupby(['Player']).value_counts().to_frame()

                    count
Player      Result
Brokenblade Loss       19
            Win         7
Caps        Loss       23
            Win        12
            Loss        1
Flakked     Loss        9
            Win         2
Hans Sama   Loss       10
            Win         5
Jankos      Loss       13
            Win         7
            Loss        1
Mikyx       Loss       14
            Win        10
            Loss        1
Perkz       Win         5
            Loss        4
            Loss        1
Targamas    Loss        9
            Win         2
Wunder      Win         5
            Loss        4
            Loss        1
Yike        Loss       10
            Win         5

In [107]:
#Checking player individual winrate
data[['Player','Result']].groupby(['Player']).value_counts(normalize=True).mul(100).round(2).to_frame().astype(str) + '%'

                   proportion
Player      Result
Brokenblade Loss       73.08%
            Win        26.92%
Caps        Loss       63.89%
            Win        33.33%
            Loss        2.78%
Flakked     Loss       81.82%
            Win        18.18%
Hans Sama   Loss       66.67%
            Win        33.33%
Jankos      Loss        61.9%
            Win        33.33%
            Loss        4.76%
Mikyx       Loss        56.0%
            Win         40.0%
            Loss         4.0%
Perkz       Win         50.0%
            Loss        40.0%
            Loss        10.0%
Targamas    Loss       81.82%
            Win        18.18%
Wunder      Win         50.0%
            Loss        40.0%
            Loss        10.0%
Yike        Loss       66.67%
            Win        33.33%

In [137]:
#Checking some average stats
data[['Player','Kills','Deaths','Assists','KP','KDA']].groupby(['Player']).agg({'Kills':'mean','Deaths':'mean','Assists':'mean','KP':'mean', 'KDA':'mean'}).round(decimals=2)

             Kills  Deaths  Assists    KP   KDA
Player
Brokenblade   1.88    2.96     4.46  0.57  2.89
Caps          2.75    3.61     5.42  0.62  3.91
Flakked       3.36    3.18     3.55  0.66  2.47
Hans Sama     4.40    3.27     4.13  0.69  3.81
Jankos        3.00    3.38     5.52  0.68  3.65
Mikyx         1.08    4.04     8.44  0.70  4.22
Perkz         4.40    2.70     7.00  0.68  6.01
Targamas      0.55    3.00     6.55  0.66  2.74
Wunder        2.20    3.30     6.10  0.50  3.37
Yike          2.27    3.13     6.60  0.71  3.29

In [153]:
data_wunder = data[data['Player']=='Wunder']
data_wunder = data_wunder.drop(['Tournament','Game_Id','Date','Stage','Opponent','Side','Game_Time','Result','Role','Champion','Min Kills'],axis=1)
data_wunder.head(10)

,Player,Kills,Deaths,Assists,KDA,CS,CSM,Total_Gold,Vision_Score,Total_Damage,KP,GD@15,CSD@15,Towers,Dragons,Barons,Team_Total_Gold (K),Enemy_Total_Gold (K),Total_Gold_Difference (K)
0,Wunder,3,4,9,3.0,271,6.3,15658,44,25282,0.632,783,8,7,2,1,75.7,73.0,2.7
1,Wunder,1,3,1,0.7,217,9.4,9027,25,5584,0.500,-898,5,2,1,0,38.8,45.5,-6.7
2,Wunder,3,3,7,3.3,441,10.0,17814,42,15768,0.476,-431,-9,3,4,0,79.2,90.3,-11.1
3,Wunder,4,0,7,11.0,247,8.2,12574,28,11771,0.579,87,-6,9,2,1,61.6,49.6,12.0
4,Wunder,3,3,14,5.7,207,7.1,10925,23,9088,0.607,-516,-10,9,3,1,61.0,48.9,12.1
5,Wunder,2,5,11,2.6,249,7.7,11596,37,12818,0.565,147,27,7,4,0,59.5,55.2,4.3
6,Wunder,1,5,1,0.4,224,7.9,9746,33,4521,0.333,-446,11,2,0,0,46.1,59.8,-13.7
7,Wunder,4,2,7,5.5,260,7.8,14100,28,14027,0.440,-432,-15,11,4,1,66.6,55.7,10.9
8,Wunder,1,3,3,1.3,240,7.5,10119,25,7149,0.400,-411,-6,2,0,0,51.1,59.0,-7.9
9,Wunder,0,5,1,0.2,138,7.2,5673,15,4906,0.500,-1345,-19,1,0,0,28.6,40.1,-11.5

In [155]:
data_wunder.describe().round(decimals=2)

,Kills,Deaths,Assists,KDA,CS,CSM,Total_Gold,Vision_Score,Total_Damage,KP,GD@15,CSD@15,Towers,Dragons,Barons,Team_Total_Gold (K),Enemy_Total_Gold (K),Total_Gold_Difference (K)
count,10.0,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
mean,2.2,3.30,6.10,3.37,249.40,7.91,11723.20,30.00,11091.40,0.50,-346.20,-1.40,5.30,2.00,0.40,56.82,57.71,-0.89
std,1.4,1.57,4.53,3.32,76.95,1.09,3495.46,9.01,6382.45,0.10,583.63,13.98,3.68,1.70,0.52,15.88,14.59,10.42
min,0.0,0.00,1.00,0.20,138.00,6.30,5673.00,15.00,4521.00,0.33,-1345.00,-19.00,1.00,0.00,0.00,28.60,40.10,-13.70
25%,1.0,3.00,1.50,0.85,218.75,7.28,9839.25,25.00,5975.25,0.45,-498.50,-9.75,2.00,0.25,0.00,47.35,49.08,-10.30
50%,2.5,3.00,7.00,2.80,243.50,7.75,11260.50,28.00,10429.50,0.50,-431.50,-6.00,5.00,2.00,0.00,60.25,55.45,-2.00
75%,3.0,4.75,8.50,4.95,257.25,8.12,13718.50,36.00,13724.75,0.58,-37.50,7.25,8.50,3.75,1.00,65.35,59.60,9.25
max,4.0,5.00,14.00,11.00,441.00,10.00,17814.00,44.00,25282.00,0.63,783.00,27.00,11.00,4.00,1.00,79.20,90.30,12.10

In [159]:
data_wunder.drop('Player',axis=1).mean().to_frame().reset_index()

                        index           0
0                       Kills      2.2000
1                      Deaths      3.3000
2                     Assists      6.1000
3                         KDA      3.3700
4                          CS    249.4000
5                         CSM      7.9100
6                  Total_Gold  11723.2000
7                Vision_Score     30.0000
8                Total_Damage  11091.4000
9                          KP      0.5032
10                      GD@15   -346.2000
11                     CSD@15     -1.4000
12                     Towers      5.3000
13                    Dragons      2.0000
14                     Barons      0.4000
15        Team_Total_Gold (K)     56.8200
16       Enemy_Total_Gold (K)     57.7100
17  Total_Gold_Difference (K)     -0.8900